@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center flex background" >
    <h1 class="display-4 m-auto">Welcome</h1>
    <p class="m-auto">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
